btn {
    width: 125px;
    padding: 10px 0px;
    border-radius: 20px;
    display: block;
    margin-top: 10px;

    &.btn-roxo{
        background-color: purple;
        color: white;
    }
    &.btn-amarelo{
        background-color: yellow;
        color: white;
    }
    &.btn-azul{
        background-color: blue;
        color: white;
    }
}